body {
    margin: 0;
    padding: 0;
}

.title {
    margin: 0;
    padding: 0;
    height: 100dvh;
    width: 100dvw;
    align-content: center;
    text-align: center;
}

.seasons {
    margin: 0;
    padding: 0;
    height: 100dvh;
    background-color: bisque;
}

.panorama {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100dvw; 
  min-height: 100dvh;
  z-index: -1;
}